{{#each this}}
<div class="card">
    <div class="card_image">
        <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" alt="{{title}}" loading="lazy" width="250" height="200">
    </div>
    <div class="card_body">
        <h2 class="card_title">{{title}}</h2>
        <p class="card_subtitle"><span>{{release_date}}</span><span>{{genre_ids}}</span></p>
    </div>
</div>
{{/each}}